.container{
    box-shadow: 1px 1px 4px $color-shadow;
    height: 50px;
    z-index: 1000;
    width: 100%;
    background-color: $bgc-header;
    position: fixed;
    top:0;
}

.header{
    height: 100%;
    background-color: $bgc-header;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 7%;
 &__containerLeft{
    margin: 0;
    padding: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
 }
 &__menu{
   background-image: url('@images/menu.svg');
   width: 25px;
   height: 25px;
   margin-right: 40px;
   cursor: pointer;
 }
 &__shop{
    font-size: 1.1em;
    cursor: pointer;
    display: inline-block;
 }
 &__shopArrow{
     background-image: url('@images/arrow.svg');
     width: 10px;
     height: 10px;
     display: inline-block;
 }
 &__title{
     font-size: 2.5em;
     cursor: pointer;
 }
 &__containerRight{
    margin: 0;
    padding: 0;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
 }

 &__search{
     background-image: url('@images/search.svg');
     width: 17px;
     height: 17px;
     margin-right: 20px;
     cursor: pointer;
 }
 &__cart{
     font-size: 1.05em;
     cursor: pointer;
 }
}