.hero{
    background-image: url('@images/universe.jpg');
    background-size: cover;
    box-sizing: border-box;
    width: 95vw;
    transform: translateX(2.2%);
    height: 90vh;
    position: fixed;
    top: 50px;
    z-index: $back;
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 54vh;
    }
    &__title{
        margin: 0;
        font-size: 3rem;
        color: $color-hero-title;
    }
    &__button{
        background-color: transparent;
        padding: 10px 15px;
        margin-top:25px;
        border: 2px solid white;
        color: white;
        font-weight: 400;
    }
}