
.space-1{
    position: relative;
    top: calc(100vh);
    height: 200px;
    width: 100%;
    z-index: $middle;
    background-color: $bgc-space-1;
    display: flex;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    &__phrase{
        width: 50vw;
        position: relative;
        font-size: 1.3rem;
        h2{
            position: absolute;
            top: 40%;
            left: 24%;
        }
        span{
            font-family: 'Ubuntu', Helvetica, sans-serif;
            font-weight: 400;
            font-style: italic;
            display: inline-block;
            margin-right: 4px;

        }
    }
    &__description{
        box-sizing: border-box;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        line-height: 1.6em;
        padding-left: 20px;
        padding-right: 150px;
        font-weight: 400;

        span{
            font-weight: 700;
            font-size: .8em;
            
        }
    }
}
