.stories-1{
    position: relative;
    z-index: $middle;
    top: 0vh;
    height: auto;
    width: 100%;
    background-color: $bgc-stories;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__header{
        display:flex;
        flex-flow: column;
        align-items: center;
        height: auto;
        width: 70%;
    }
    &__icon{
        margin-top: 35px;
        background-image: url('@images/flower.svg');
        width: 75px;
        height: 25px;
        display: block;
    }
    &__title{
        font-family: 'Ubuntu', Helvetica, sans-serif;
        font-weight: 500;
        letter-spacing: .2em;
        font-size: 1.2em;
    }
    &__options{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 76%;
        letter-spacing: .05em;
        font-size: .8em;
        font-weight: 500;
        padding-top: 35px;
    }
    &__sort{
        border-bottom: 1px solid black;
        width: 200px;
        font-family: 'Ubuntu', Helvetica, sans-serif;
        line-height: 2em;
        font-size: .9em;
        padding-left: 10px;
        padding-bottom: 3px;
        span{
            display: inline-block;
            margin-left: 115px;
            font-size: 1.5em;
        }
    }
    &__list{
        list-style: none;
        display: flex;
        li{
            margin-left: 30px;
        }
    }
    &__link{
        text-decoration: none;
        color: black;
        font-family: 'Ubuntu', Helvetica, sans-serif;
    }
    &__arrow{
        background-image: url('@images/arrow.svg');
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-left: -3px;
    }
}

