.button{
    font-family: 'Ubuntu', Helvetica, sans-serif;
    background-color: transparent;
    border: 2px solid $color-button;
    padding: 7px 45px;
    color: $color-button;
    font-size: 1em;
    font-weight: 500;
}