$bgc-header : #fff;
$bgc-hero: #f5f5f5;
$bgc-stories: #edecec;
$bgc-story: #fff;
$bgc-space-1: #fff;
$bgc-space-2: #f1f1f1;
$bgc-films: #e5e5e5;
$bgc-blog: #f5f5f5;
$bgc-footer: #e5e5e5;

$color-shadow:#888888;


/******* text colors *******/
$color-hero-title:#fff;
$color-gray: #AA999d;
/******* text button module *******/
$color-button: #1AA170;